[user]
        name = Nathan Heatwole
        email = nathan.heatwole@ibotta.com
[global]
        name = Nathan Heatwole
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[alias]
        co = checkout
[pager]
        branch = false
